body{
    background-color: #fff7;
}
h1 {
    color:#025157;
    text-align: center;
}
p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
    text-align: center;

}
form{
    text-align: center;
}
button {
    color:#fff;
    background-color: #025157;
}