body{
    background-color: #fff7;
}
h1 {
    color:#025157;
    text-align: center;
    font-size: 50px;
}
p {
    color: #8b8b8bcc;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    text-align: center;

}
form{
    text-align: center;
}
button {
    color:#fff;
    background-color: #025157;
}
/*-----------------------------------------header navegacion---------*/

.header{
    margin: 10px 20px 0;
    font-size: 0;/*tamaño del espaciado o letras  en el header*/
    font-family: sans-serif;
    height: 45px;  
}
.fixedheader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff7;
}
li{
    
    margin-right: 25px;
    margin-left: 25px;
    display: inline;
}
.header > * { /*todos los hijos del header * */
    line-height: 20px;/*tamaño de separacion entre el el comien
    -zo del contenedor header..top y el final header..bottom*/
    height:100%;
    display: inline-block;
    font-size:16px;
    vertical-align: middle; /* aliniacion vertical de los elementos hijos del header */
    
}
.navbar{/*propiedades del contenedor nav(no aplica a todos sus elementos)*/
    
    width:80%;
    text-align:left;
    color: #025157;
    /* font-weight: 100; */             
}    

.actions{ /*propiedades de la toda la clase accion(solo afectan a algunos elementos )*/
    
    text-align:left;
    font-size:14px;
    width:15%;
    /*font-weight: 600;    */         
}
.actions > * { /*Propiedades del los hijos de la clase actions*/
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
.actions a { /*propiedades del link*/
    color: #67b54b;
  }
.actions button {  /*propiedades del boton*/
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }
  
.logo {width:60px;}/*La anchura de la caja del elemento <a></a> inline block */
.logo > img {
    /*el tamaño de la imagen*/
    width:110%;
}
/*--------------------------------------------section-------------*/
.main{
  margin-top: 285px;
  text-align: center;
}
/*---------------------------------------------------*/
.promo{
    
 display: flex;
 width: 70%;
 margin: 100px auto;/*con auto reparte el margen*/   
 
}
video{
    margin: 30px;
}
.videocont{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.videocont img{
    width: 100px;
    height: 40px;
}
h2{
    color:#025157;
}
.ppublicidad{
    text-align: left;
    color: #343434;
}
